@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-gradient {
  background: linear-gradient(to right, #7039E6, #9F62F2);
}

.active {
  background: linear-gradient(to right, #0a51ea, #6e28e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}